body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    height: 100%;
  }
  
  .background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/happy-people.webp');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: bottom center;
  }
  
  .info {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    color: #808080;
  }
  #infoMeteo {
    font-size: 14px;
  }
  #iconMeteo {
    font-size: 32px;
    margin-right: 10px;
  }
  
  
  .card {
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 5%;
    width: 70%;
    max-width: 600px;
    margin-bottom: 100px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  #joke {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #555;
    margin-top: 50px;
    min-height: 54px;
  }
  
  .card button {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #0097a7;
  }

  .rating-container {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .star {
    margin: 0 5px;
    font-size: 40px;
    color: #999999; 
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .rating-container:hover .star {
    color: #f0a500; 
  }

.star[data-value="3"]:hover ~ .star,
.star[data-value="2"]:hover ~ .star,
.star[data-value="1"]:hover ~ .star {
  color: #999999;
}

.star.filled {
  color: #f0a500;
}